* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0E1035;
} 

header {
    display: flex;
    align-items: center;
    margin: 1rem 4rem;
    justify-content: space-between;
}

.logo {
    width: 5rem;
    height: 5rem;
}

nav ul {
    display: flex;
    list-style: none;
    column-gap: 1rem;
    font-size: 1rem;
}

li {
    padding: 1rem;
}

li:hover {
    color: #2F80ED;
    cursor: pointer;
    text-transform: uppercase;
}

.contactbtn {
    display: flex;
    padding: 1rem 2rem;
    border: 1px solid black;
    background-color: white;
    color: #0E1035;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

main {
    display: flex;
    position: relative;
    margin-left: 4rem;
    margin-top: 1rem;
    padding-bottom: 3rem;
    align-items: center;
}

.cta {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 65%;
}

.cta h1 {
    color: #0E1035;
        font-family: Inter;
        font-size: 78px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}

.blue {
    color: #2F80ED;
} 

.cta p {
    width: 33rem;
    font-size: 1.5rem;
    color: #676767;
}

.bookingbtn {
    padding: 1rem 2rem;
    border: 1px solid black;
    background-color: #0E1035;
    color: white;
    font-size: 1rem;
    border-radius: 0.25rem;
    margin-top: 3rem;
    cursor: pointer;
}

.herobg {
    width: 45rem;
    height: 45rem;
    position: absolute;
    top: -7rem;
    right: 0;
    z-index: -1;
}

.service {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    background-color: #0E1035;
    color: white;
}

.testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.testimony h3 {
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 700;
}

.brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.function {
    display: flex;
}

